<h1 style="text-align: center;">Eat Da Burger!</h1>
 <img src="..//assets/img/burger.png" alt="image of burger"/>


<div id="waiting">
<h2 style="text-align: center;">Waiting to be devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <strong> {{this.id}} : {{this.burger_name}} </strong>
  <br>
  <button type="button" class="devour-burger" data-id="{{this.id}}">Devour</button>
   <button type="button" class="delete" data-id="{{this.id}}">Delete</button>
  <hr>
  {{/unless}}
  {{/each}}
</ul>
</div>

<div id="ate">
<h2 style="text-align: center;">Devoured!</h2>

<ul id="ateList">
  {{#each burgers}}
  {{#if devoured}}
  <strong> {{this.id}} : {{this.burger_name}} </strong>
  <br>
  <button type="button" class="eat-again" data-id="{{this.id}}">Want More</button>
  <button type="button" class="delete" data-id="{{this.id}}">Delete</button>
  <hr>
  {{/if}}
  {{/each}}
</ul>
</div>

<div id="add" style="text-align: center;">
<h2>Add New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
<button type="submit">Add Burger</button>
</form>
</div>